################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite-journal
/.vs/yumor.xyz/config/applicationhost.config
/.vs/
